.sidebar {
  width: 20%;
  float: left;
  background-color: lightgrey;
  border: 2px solid darkgrey;

}
.tour_title {
  text-decoration: underline;
  font-weight: bold;
}

.column {
  background-color: grey;
  width: 35%;
  float: right;
  padding: 1%;
  margin: 1.3%;

}

.image {
  float: left;
  width: 300px;
  padding: 10px;
}
h1 {
  font-size: 3em;
  text-align: center;
}
